<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Age Restriction</title>
    </head>
    <body>
        <form method="POST" action="/">
            Enter your name: <input type="text" id="name" name="name" required> <br>
            Enter your age: <input type="number" id="age" name="age" required> <br>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>